<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.DealMapper">

	<sql id="dealColumns">
		userId,
		pnum,
		money,
		title,
		photo,
		dealaddress,
		finaldate
	</sql>
	
	<!-- 포스트 상세내용 -->
	<select id="selectPostDetail" parameterType="String" resultType="DealHistoryDTO">
		SELECT
			<include refid="dealColumns" />
		FROM
			( SELECT *
		      FROM useraccount
		      WHERE userId= #{userId}) usera, post p
		WHERE usera.pnum = p.pnum and p.finaldate is not null
	</select>
	
</mapper>