<!DOCTYPE html>
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="topbarFragment">
	<!-- Topbar -->
	<nav
		class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

		<!-- Sidebar Toggle (Topbar) -->
		<button id="sidebarToggleTop"
			class="btn btn-link d-md-none rounded-circle mr-3">
			<i class="fa fa-bars"></i>
		</button>

		<!-- Topbar Search -->
		<form th:action="@{/main.do}" method="get" id="searchForm" 
				class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
			<div class="input-group">
				<select name="category" id="cate">
					<option value="0" th:selected="${cateNum=='0'}">전체</option>
					<option value="1" th:selected="${cateNum=='1'}">패션의류</option>
					<option value="2" th:selected="${cateNum=='2'}">뷰티</option>
					<option value="3" th:selected="${cateNum=='3'}">유아용품</option>
					<option value="4" th:selected="${cateNum=='4'}">식품</option>
					<option value="5" th:selected="${cateNum=='5'}">생활용품</option>
					<option value="6" th:selected="${cateNum=='6'}">주방용품</option>
					<option value="7" th:selected="${cateNum=='7'}">홈인테리어</option>
					<option value="8" th:selected="${cateNum=='8'}">가전디지털</option>
					<option value="9" th:selected="${cateNum=='9'}">스포츠/레저</option>
					<option value="10" th:selected="${cateNum=='10'}">자동차용품</option>
					<option value="11" th:selected="${cateNum=='11'}">완구/취미</option>
					<option value="12" th:selected="${cateNum=='12'}">문구/오피스</option>
					<option value="13" th:selected="${cateNum=='13'}">반려동물용품</option>
					<option value="14" th:selected="${cateNum=='14'}">헬스/건강식품</option>
					<option value="15" th:selected="${cateNum=='15'}">여행/티켓</option>
					<option value="16" th:selected="${cateNum=='16'}">기타</option>
				</select>
				
				<input type="text" id="keyword" name="keyword" class="form-control bg-light border-0 small" style="width:100px"
					placeholder="Title..." aria-label="Search" aria-describedby="basic-addon2" th:value="${(keyword ==null || keyword =='')? null:keyword}">
				<input type="hidden" id="sortoption" name="sortoption">
				<div class="input-group-append" style="width:0px;">
					<button class="btn btn-primary">
						<i class="fas fa-search fa-sm"></i>
					</button>
				</div>
			</div>
		</form>
		<div id="speechSearch" sec:authorize="isAuthenticated()" style="width:41%;">
			<button id="start" style="background-color:white; border:0px;">
				<img src="img/mic.png" style="width:25px; height:27px;">
			</button>
			<!-- <button id="stop">Stop</button> -->
		</div>
		
		<div id="speechSearch" sec:authorize="isAnonymous()" style="width:32%;">
			<button id="start" style="background-color:white; border:0px;">
				<img src="img/mic.png" style="width:25px; height:27px;">
			</button>
			<!-- <button id="stop">Stop</button> -->
		</div>
		
				<!-- Topbar Navbar -->
		<ul class="navbar-nav ml-auto">

			<!-- Nav Item - Search Dropdown (Visible Only XS) -->
			<li class="nav-item dropdown no-arrow d-sm-none"><a
				class="nav-link dropdown-toggle" href="#" id="searchDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> <i class="fas fa-search fa-fw"></i>
			</a> <!-- Dropdown - Messages -->
				<div
					class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
					aria-labelledby="searchDropdown">
					<form class="form-inline mr-auto w-100 navbar-search">
						<div class="input-group">
							<input type="text" class="form-control bg-light border-0 small"
								placeholder="Search for..." aria-label="Search"
								aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-primary" type="button">
									<i class="fas fa-search fa-sm"></i>
								</button>
							</div>
						</div>
					</form>
				</div></li>

			<div class="topbar-divider d-none d-sm-block"></div>

						<!-- Nav Item - User Information -->

						<li class="nav-item dropdown no-arrow"><a
							class="nav-link dropdown-toggle" href="#" id="userDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <span
								class="mr-2 d-none d-lg-inline text-gray-600 small"
								sec:authentication="name"> </span> 
								<img class="img-profile rounded-circle" src="img/undraw_profile.svg">
						</a> <!-- Dropdown - User Information -->
						
						<div
								class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
								aria-labelledby="userDropdown">
								
								<div sec:authorize="isAuthenticated()">
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/logout"
									data-toggle="modal2" data-target="#logoutModal"> <i
									class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
									Logout
								</a>
								</div>
								
								 <div sec:authorize="isAnonymous()">
								 <a class="dropdown-item" href="/login" data-toggle="modal2"
									data-target="#loginModal"> <i
									class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
									Login
								</a>
								<a class="dropdown-item" href="/register" data-toggle="modal2"
									data-target="#loginModal"> <i
									class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
									회원가입
								</a>
								</div>
							</div></li>
						</li>
		</ul>

	</nav>
	<!-- End of Topbar -->
	<script th:inline="javascript">
        /*<![CDATA[*/
        //const speech = new webkitSpeechRecognition;
        if(!("webkitSpeechRecognition" in window)){
        	alert("지원 되지 않는 사이트 입니다. 크롬으로 작동해주세요.");
        	
        }else{
        	console.log("음성검색")
        	const speech = new webkitSpeechRecognition;
        	
        	document.getElementById("start").addEventListener("click", () => {
        		console.log("start!!!");
        		speech.start();
        	});
        	
			/* document.getElementById("stop").addEventListener("click", () => {
				console.log("stop!!!");
				speech.stop();
        	});  */
			
			speech.addEventListener("result", (event) => {
				const {transcript} = event["results"][0][0];
				//const transcript = event.results[0].transcript.join("");
				console.log("transcript: " + transcript);
				document.getElementById("keyword").value = transcript;
			}) 
        	
        }
             
      /*]]>*/
  	</script>

</th:block>
</html>