<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/basic">
<th:block layout:fragment="content" th:object="${cerDTO}">
	<!--  <div th:text="${ @point.getX() }"></div>-->
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
		</div>
		<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
			<h1 class="m-0 font-weight-bold text-gray-900" th:text="${cerDTO.title}">거래명</h1>
			<!-- 수정, 삭제 -->
			<div class="float-right">
				<a th:href="@{/cermain.do}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
				<a th:href="@{/cerwrite.do( cernum=${cerDTO.cernum} )}"
					class="btn btn-primary waves-effect waves-light">수정하기</a>
				<button type="button" class="btn btn-danger waves-effect waves-light"
					th:onclick="deleteCer([[ ${cerDTO.cernum} ]])">삭제하기</button>
			</div>
		</div>
		<!-- detail 내용 -->
		<!--<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<div class="row">
					<div class="card-body">
						<div class="represent_img">
							<img class="img-item" th:src="|@{uploadFile/}${cerDTO.getCfile()}|">
						</div>
						<div class="">
							<div class="card-detail-top mb-4">
								<div class="card-body">
									<p>
										<h7 class="m-0 font-weight-bold text-gray-900">
											<br>
											<p th:text="${cerDTO.content}"></p>
										</h7>
										<br>
									</p>
									<div class="margin-bottom">
									</div>
									<span class="m-0 font-weight-bold text-gray-900">작성 날짜 </span>
									<text th:text="${cerDTO.regdate}" }></text>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>-->
		<!-- /detail 내용 -->
		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">
					<div class="col-lg-6 d-none d-lg-block">
						<img class="img-item" th:src="|@{uploadFile/}${cerDTO.getCfile()}|">
					</div>
					<div class="col-lg-6">
						<div class="p-5">
							<div class="text-center">
							<h1 class="m-0 font-weight-bold text-gray-900" th:text="${cerDTO.title}">거래명</h1>
								<p>
									<h7 class="m-0 font-weight-bold text-gray-900">
										<br>
										<p th:text="${cerDTO.content}"></p>
									</h7>
									<br>
								</p>
								<div class="margin-bottom">
								</div>
								<span class="m-0 font-weight-bold text-gray-900">작성 날짜 </span>
								<text th:text="${cerDTO.regdate}" }></text>
							</div>
							<hr>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</th:block>
<th:block layout:fragment="script">
	<script th:inline="javascript">
		// 삭제 버튼을 위해서 만들었습니다.
		/*<![CDATA[*/

		function deleteCer(cernum) {
			if (confirm(cernum + "번 게시글을 삭제할까요?")) {
				var uri = /*[[ @{/cerdelete.do} ]]*/null;
				var html = "";
				html += '<form name="dataForm" action="' + uri + '" method="post">';
				html += '<input type="hidden" name="cernum" value="' + cernum + '" />';
				html += '</form>';
				$("body").append(html);
				document.dataForm.submit();
			}
		}
		/*]]>*/

	</script>
</th:block>

</html>