<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/basic">
<th:block layout:fragment="content">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">거래 상세 페이지</h1>
		</div>
		<div
			class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
			<h6 class="m-0 font-weight-bold text-gray-900">글제목</h6>
			<div class="float-right">
				<a href="#" class="btn btn-secondary btn-icon-split"> </span> <span
					class="text">수정</span>
				</a> <a href="#" class="btn btn-secondary btn-icon-split"> </span> <span
					class="text">삭제</span>
				</a>
			</div>


		</div>
		<div class="row">

			<!-- 이미지와 링크 -->
			<div class="col-xl-4 col-lg-5">
				<div class="card-detail-top shadow mb-4">
					<!-- Card Body -->
					<div class="card-body">

						<div class="represent_img">
							<img class="img-item" src="img/휴ㅣㅈ.jpg">
						</div>

						<!-- 글 내용 -->
						<div class="">
							<div class="card-detail-top mb-4">
								<!-- Card Body -->
								<div class="card-body">
									<p>
										<h7 class="m-0 font-weight-bold text-gray-900">구매 동네 </h7>
										---
									</p>
									<p>
										<h7 class="m-0 font-weight-bold text-gray-900">원가 </h7>
										8000원 &nbsp;<br>
										<h7 class="m-0 font-weight-bold text-gray-900">물품 개수 </h7>
										15개입 &ensp;<br>
									</p>
									<p>
									<div class="margin-bottom">
										<h7 class="m-0 font-weight-bold text-gray-900">링크주소:
										http://~~</h7>


									</div>
									</p>

									<span class="text-gray-900">작성 날짜 </span> 30분 전



								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 거래 정보 -->
			<div class="col-xl-8 col-lg-7">
				<div class="card-detail-top shadow mb-4">
					<!-- Card Body -->
					<div class="card-body-nonauto">

						<div class="horizon">
							<div class="detail-top_info">
								<p>
									<h7 class="m-0 font-weight-bold text-primary bg-gray-100"> 최대 구매가 </h7>
									--원&emsp;
									<h7 class="m-0 font-weight-bold text-primary bg-gray-100"> 최소 구매가 </h7>
									--원<br>
								</p>
								<p>
									<h7 class="m-0 font-weight-bold text-primary bg-gray-100">최소인원 </h7>
									2명 &emsp;
									<h7 class="m-0 font-weight-bold text-primary bg-gray-100">최대인원 </h7>
									5명
								</p>
								<p>

									<h7 class="m-0 font-weight-bold text-primary bg-gray-100"> 현재 인원수 </h7>
									1명&emsp;
									<h7 class="m-0 font-weight-bold text-primary bg-gray-100"> 현재 구매가 </h7>
									---원<br>
								</p>

							</div>
							<div class="detail-top_timer">
								<p>
									<span id="endtime" style="font-size:20px; color:black;"></span>
								</p>
								<h8>남은 시간</h8>
								<p>
								 <!-- <img src="img/clock.png" style="width:10vw; min-width: 30px;"> -->
								 <span id="timer" style="font-size:-webkit-xxx-large; color:red;"></span>

								</p>
							</div>


						</div>
						<div class="vertical">
							<!-- 참여자 ready 영역 -->
							<div class="detail-ready">
								<div class="user-ready-img">
									<div
										class="text-gray-600 font-weight-bold bg-gray-100 align-center">user명</div>
									<img class="ready-img rounded-circle"
										src="img/undraw_profile.svg"> <a href="#"
										class="btn btn-primary-cap btn-icon-split"> <span
										class="icon text-white-50"> <i class="fas fa-flag"></i>
									</span> <span class="text">방장</span>
									</a>
								</div>
								<div class="user-ready-img">
									<div
										class="text-gray-600 font-weight-bold bg-gray-100 align-center">user명</div>
									<img class="ready-img rounded-circle"
										src="img/undraw_profile.svg"> <a href="#"
										class="btn btn-primary btn-icon-split"> <span
										class="icon text-white-50"> <i class="fas fa-flag"></i>
									</span> <span class="text">준비</span>
									</a>
								</div>
								<div class="user-ready-img">
									<div
										class="text-gray-600 font-weight-bold bg-gray-100 align-center">user명</div>
									<img class="ready-img rounded-circle"
										src="img/undraw_profile.svg"> <a href="#"
										class="btn btn-primary btn-icon-split"> <span
										class="icon text-white-50"> <i class="fas fa-flag"></i>
									</span> <span class="text">준비</span>
									</a>
								</div>
								<div class="user-ready-img">
									<div
										class="text-gray-600 font-weight-bold bg-gray-100 align-center">user명</div>
									<img class="ready-img rounded-circle"
										src="img/undraw_profile.svg"> <a href="#"
										class="btn btn-primary btn-icon-split"> <span
										class="icon text-white-50"> <i class="fas fa-flag"></i>
									</span> <span class="text">준비</span>
									</a>
								</div>
								<div class="user-ready-img">
									<div
										class="text-gray-600 font-weight-bold bg-gray-100 align-center">user명</div>
									<img class="ready-img rounded-circle"
										src="img/undraw_profile.svg"> <a href="#"
										class="btn btn-primary btn-icon-split"> <span
										class="icon text-white-50"> <i class="fas fa-flag"></i>
									</span> <span class="text">준비</span>
									</a>
								</div>

							</div>
							<!-- buttons -->
							<a href="#" class="btn btn-primary btn-icon-split">
								<span class="icon text-white-50"><i class="fas fa-flag"></i></span>
								<span class="text">시작하기!</span>
							</a>

							<button type="button" class="btn btn-info btn-icon-split" data-toggle="modal" data-target=".bd-example-modal-xl">
								<span class="icon text-white-50">
									<i class="fas fa-info-circle"></i>
								</span>
								중간 배송지 확인
							</button>

							<!--중간 배송지 모달창-->
							<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-xl">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">중간 배송지 확인하기</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="닫기">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<!--카카오맵 api 적용-->
											<!-- 지도를 표시할 div 입니다 -->
											<div id="map" style="width:100%;height:350px;"></div>

											<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a87e58c3986f19fb7967a5efe62a5c7c"></script>
											<script>
												var mapContainer = document.getElementById('map'), // 지도를 표시할 div
														mapOption = {
															center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
															level: 3 // 지도의 확대 레벨
														};

												// 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
												var map = new kakao.maps.Map(mapContainer, mapOption);

												// 지도를 표시하는 div 크기를 변경하는 함수입니다
												function resizeMap() {
													var mapContainer = document.getElementById('map');
													mapContainer.style.width = '1050px';
													mapContainer.style.height = '650px';
												}

												function relayout() {

													// 지도를 표시하는 div 크기를 변경한 이후 지도가 정상적으로 표출되지 않을 수도 있습니다
													// 크기를 변경한 이후에는 반드시  map.relayout 함수를 호출해야 합니다
													// window의 resize 이벤트에 의한 크기변경은 map.relayout 함수가 자동으로 호출됩니다
													map.relayout();
												}
											</script>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
											<button type="button" class="btn btn-primary">카카오맵으로 확인하기</button>
										</div>

									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>

		</div>
		<!-- row -->


		<div class="row">
			<div class="col-xl-12">



							<div class="card mt-5">
<!--								안나옴 ㅜㅜ
									<div class="d-flex flex-row justify-content-between p-3 adiv text-white">-->
<!--									<i class="fas fa-chevron-left"></i>-->
<!--									<span class="pb-3">Live chat</span>-->
<!--									<i class="fas fa-times"></i>-->
<!--								</div>-->

								<div class="d-flex flex-row justify-content-between p-3 form-group px-3">
									<i class="fas fa-chevron-left"></i>
									<span class="pb-3">휴지 공동구매 채팅방입니다</span>
									<i class="fas fa-times"></i>
								</div>
								<div class="d-flex flex-row p-3">
									<img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-7.png" width="30" height="30">
									<div class="chat ml-2 p-3">Hello and thankyou for visiting birdlymind. Please click the video above</div>
								</div>

								<div class="d-flex flex-row p-3">
									<div class="bg-white mr-2 p-3"><span class="text-muted">Hello and thankyou for visiting birdlynind.</span></div>
									<img src="https://img.icons8.com/color/48/000000/circled-user-male-skin-type-7.png" width="30" height="30">
								</div>

								<div class="d-flex flex-row p-3">
									<img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-7.png" width="30" height="30">
									<div class="myvideo ml-2"><img src="https://imgur.com/GOxU1jx.png" width="200"></div>
								</div>

								<div class="d-flex flex-row p-3">
									<img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-7.png" width="30" height="30">
									<div class="chat ml-2 p-3"><span class="text-muted dot">. . .</span></div>
								</div>

								<div class="form-group px-3">
									<input type="text" class="form-control" placeholder="Enter text here...">

								</div>
							</div>
						</div>




		</div>


		<!-- 거래 정보 표시 -->
		<div class="detail_top">
			<div class="detail_top_top"></div>
			<div class="detail_top_content">
				<div class="detial_top_content_left"></div>
				<div class="detial_top_content_right"></div>
				<div class="detial_top_content_bottom"></div>
			</div>
		</div>
		<!-- 거래 정보 표시 end -->

		<div class="container my-auto">
			<div class="copyright text-center my-auto">
				<button class="btn btn-primary" id="button-save" type="button">저장하기</button>
				<button class="btn btn-primary" id="button-cancel" type="button">취소하기</button>
			</div>

		</div>
		<!-- row -->
	</div>
	<!-- /.container-fluid -->
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
      /*<![CDATA[*/
      function convertStringToDate(endDate) {
		    let dateComponents = endDate.split(' ');
		    let datePieces = dateComponents[0].split("-");
		    let timePieces = dateComponents[1].split(":");
		    return(new Date(datePieces[0], (datePieces[1] - 1), datePieces[2],
		                         timePieces[0], timePieces[1], timePieces[2]))
	  }
		
	  var endDate = convertStringToDate("2022-07-28 17:50:00");
	  console.log("endDate: ", endDate);
      document.getElementById("endtime").innerHTML = endDate;
      
      var startDatetime = new Date();
      console.log("startDatetime: ", startDatetime);
      
      var RemainDate = endDate - startDatetime;
      console.log("RemainDate: ",RemainDate);
      const timerId = document.querySelector('#timer');
      
      function msg_time() {
    	var years = Math.floor(RemainDate/(1000*60*60*24*30*12));
    	var months = Math.floor((RemainDate % ((1000*60*60*24*30*12)) / (1000*60*60*24*30)));
    	var days = Math.floor(((RemainDate % (1000*60*60*24*30)) / (1000 * 60 * 60 * 24)));
    	
        var hours = Math.floor((RemainDate % (1000 * 60 * 60 * 24)) / (1000*60*60));
        var miniutes = Math.floor((RemainDate % (1000 * 60 * 60)) / (1000*60));
        var seconds = Math.floor((RemainDate % (1000 * 60)) / 1000);
        
        //m = hours + ":" +  miniutes + ":" + seconds ; // 남은 시간 text형태로 변경
        m = `${years>0 ? years+'년':''} ${months>0 ? months+'달':''} ${days}일 ${hours<10 ? '0':''}${hours}:${miniutes<10 ? '0':''}${miniutes}:${seconds<10 ? '0':''}${seconds}`
        
       timerId.innerHTML =m;
        
        if (RemainDate < 0) {      
          // 시간이 종료 되었으면..
          clearInterval(timer);   // 타이머 해제
        }else{
          RemainDate = RemainDate - 1000; // 남은시간 -1초
        }
      }
      
      var timer = setInterval(msg_time, 1000);      
      /*]]>*/
    </script>
  </th:block>
</html>