<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/basic">

<th:block layout:fragment="content">
	<div class="container-fluid">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">진행 중인 거래 목록</h1>

			<div class="dropdown mb-4">
				<button
					class="btn btn-primary dropdown-toggle d-sm-inline-block btn-sm shadow-sm d-none"
					type="button" id="dropdownMenuButton" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">추천순</button>
				<div class="dropdown-menu animated--fade-in"
					aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#">거리순</a> <a class="dropdown-item"
						href="#">최신순</a> <a class="dropdown-item" href="#">인기순</a>
				</div>
			</div>
		</div>
		<section class="py-5">
			<div class="container px-4 px-lg-5 mt-5">
				<div
					class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
					<div class="col mb-5" th:each="postList : ${postList}">
						<div class="card h-100">

							<!-- Product image-->
							<img class="card-img-top"
								src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
							<!-- Product details-->
							<div class="card-body p-4">
								<a href="#" style="text-decoration: none;">
									<div class="text-center">
										<!-- Product name-->
										<h5 class="fw-bolder" th:text="${postList.title}"></h5>
										<!-- Product price-->
										<p th:text="${postList.uploaddate}"></p>
									</div>
								</a>
							</div>
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">

								<!-- 모달창 버튼 -->
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
									상세 보기
								</button>
								<!-- 모달창 -->
								<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalCenterTitle" th:text="${postList.title}"></h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												<h5>방장</h5>
												<p th:text="${postList.leaderid}"></p>
												<hr>
												<h5>내용</h5>
												<p th:text="${postList.content}"></p>
												<hr>
												<h5>모집 날짜</h5>
												<p th:text="${postList.enddate}"></p>
												<hr>
												<h5>제품 정보</h5>
												<p th:text="${postList.link}"></p>

											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">나가기</button>
												<a th:href="@{/detail.do( pnum=${postList.pnum} )}" class="btn btn-primary waves-effect waves-light">참여하기</a>
											</div>
										</div>
									</div>
								</div>
								<!-- 찜 버튼 -->
								<button class="btn btn-primary btn-icon-split">
									<a href="#"> <img style="width: 30px; height: 30px;" alt="찜" src="assets/heart.ico"></a>
								</button>
							</div>

						</div>

					</div>
				</div>
			</div>
		</section>



		<!-- row -->
		<!-- /.container-fluid -->
</th:block>


</html>