<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/basic">
<th:block layout:fragment="content">
	<div class="container-fluid">
		<!-- 내정보 들어갈 자리입니다. -->
		<div>
			<div class="card shadow mb-4" style="width: 65%;">
				<!-- Card Header - Dropdown -->
				<div
					class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">내 정보</h6>
					<div class="dropdown no-arrow">
						<a class="dropdown-toggle" href="#" role="button"
							id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <i
							class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
						</a>
						<div
							class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
							aria-labelledby="dropdownMenuLink">
							<div class="dropdown-header">더보기</div>
							<a class="dropdown-item" href="/UpdateUser">수정하기</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">도움말</a>
						</div>
					</div>
				</div>
				<!-- Card Body -->

				<!--<div class="card mb-3" style="max-width: 200px; margin-left:15px; margin-top:10px;" >-->
				<!--				<div class="card mb-3" style="max-width: 200px;" float="left" width= "33%" padding="10px">-->
				<div class="cobuy-box" th:object="${userDTO}"
					style="display: flex; width: 100%; justify-content: center;">
					<div class="one"
						style="margin-right: 20px; margin-left: 10px; margin-top: 10px; margin-bottom: 10px; width: 30%;">
						<a href="#!"><img class="card-img-top"
							src="img/undraw_profile_1.svg" alt="..."
							style="width: 190px; height: auto; margin: 10px;" /></a>
					</div>
					<div class="two"
						style="margin-right: 17px; margin-left: 8px; margin-top: 10px; margin-bottom: 10px; width: 50%;">
						<div class="input-group">
							<ul class="list-group list-group-flush">
								<li class="list-group-item" id="cobuy_Name"
									th:text="'이름(Name):&emsp;' + ${userDTO.username}"></li>
								<li class="list-group-item" id="cobuy_Nickname"
									th:text="'별명(Alias):&emsp;' + ${userDTO.nickname}"></li>
								<li class="list-group-item" id="cobuy_Id"
									th:text="'아이디(ID):&emsp;' + ${userDTO.userid}"></li>
								<li class="list-group-item" id="cobuy_PhoneNum"
									th:text="'전화번호(Phone):&emsp;' + ${userDTO.phone}"></li>
								<li class="list-group-item" id="cobuy_Birth"
									th:text="'생년월일(Birth):&emsp;' + ${userDTO.birth}"></li>
								<li class="list-group-item" id="cobuy_Address"
									th:text="'집주소(Address):&emsp;' + ${userDTO.address} + '&emsp;' + ${userDTO.realaddress}"></li>
								<li class="list-group-item"></li>
							</ul>
						</div>

					</div>
				</div>
				<!-- class=two -->
			</div>
		</div>

	</div>
	<!-- 거래 내역 화면 입니다. -->
	<!-- 첫 번째 목록 시작 -->
	<!-- html (Thymeleaf) -->
	<th:block th:each="deallist:${dealList}">
		<div>
			<div class="card shadow mb-4" style="width: 65%;">
				<!-- Card Header - Dropdown -->
				<div
					class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">나의 거래 내역</h6>
					<div class="dropdown no-arrow">
						<a class="dropdown-toggle" href="#" role="button"
							id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <i
							class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
						</a>
						<div
							class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
							aria-labelledby="dropdownMenuLink">
							<div class="dropdown-header">더보기</div>
							<a class="dropdown-item" href="#">상세보기</a> <a
								class="dropdown-item" href="#">미 정</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">도움말</a>
						</div>
					</div>
				</div>
				<!-- Card Body -->

				<!--<div class="card mb-3" style="max-width: 200px; margin-left:15px; margin-top:10px;" >-->
				<!--				<div class="card mb-3" style="max-width: 200px;" float="left" width= "33%" padding="10px">-->

				<div class="cobuy-box" style="display: flex; width: 90%;">
					<div class="one"
						style="margin-right: 20px; margin-left: 10px; margin-top: 10px; margin-bottom: 10px; width: 230px; height: 80px; object-fit: cover">
						<div class="small text-muted" style="margin-left: 10px;"
							th:text="${#temporals.format(deallist.finaldate, 'yyyy-MM-dd')}"></div>
						<br> <a href="#!"><img class="card-img-top"
							th:src="|@{uploadFile/}${deallist.photo}|" /></a>
					</div>

					<div class="two"
						style="margin-right: 17px; margin-left: 8px; margin-top: 10px; margin-bottom: 10px; width: 50%;">
						<!--<p class="card-text">상세보기는 우측 상단 버튼을 누르세요!</p-->
						<ul class="list-group list-group-flush">
							<!--<li class="list-group-item" id="cobuy_uploadDate">날짜 : </li>-->
							<p
								style="margin-left: 19px; margin-top: 20px; margin-bottom: 4px; color: red;">거래완료</p>
							<li class="list-group-item" id="cobuy_title"
								th:text="'제목:&emsp;' + ${deallist.title}"></li>
							<li class="list-group-item" id="cobuy_deliveryAddress"
								th:text="'배송지:&emsp;' + ${deallist.dealaddress} +' ('+${deallist.postnum}+ ')'"></li>
							<!-- 배달 주소에 링크를 걸어 누르면 map으로?? -->
							<li class="list-group-item" id="cobuy_price"
								th:text="'구매가격:&emsp;' + ${deallist.money} + '원&emsp;&emsp;&emsp;'
																				+ '거래인원수:&emsp;' + ${deallist.membercount} + '명&emsp;'"></li>
							<li class="list-group-item"><a id="cobuy_price"
								target="_blank" th:href="${deallist.link}">거래 내역 상세보기 >> </a></li>
							<br>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</th:block>


	<div class="row"></div>

</th:block>

</html>